%h2 All Groups
%table#groups
  %thead
    %tr
      %th Title
      %th Description
  %tbody
    - @groups.each do |group|
      %tr
        %td= group.title
        %td= group.description
        %td= button_to 'Delete', group_path(group), :method => :delete, data: { confirm: 'Are you sure?' }
= link_to 'Create a group', new_group_path


%h1 Users
= link_to 'View Users', users_path