.row
  .logout= link_to 'Log out', login_path

%h2 All Groups

%table.table.table-bordered
  %thead
    %tr
      %th Title
      %th Description
      %th Remove
  %tbody
    - @groups.each do |group|
      %tr
        %td= group.title
        %td= group.description
        %td= button_to 'Delete', group_path(group), :method => :delete, data: { confirm: 'Are you sure?' }
= link_to 'Create a group', new_group_path


%h2 Users
= link_to 'View Users', users_path


.bottom-margin
