%h2 All Users

- @all_groups.each do |group|
  = group.title
  = check_box_tag "groups[#{group.id}]", 1, :id => "groups_#{group.id}"
= submit_tag 'Refresh', :id => 'groups_submit'

%table#users
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Password
      %th Status
      %th Graduation Date
      %th Groups
      %th{:colspan => "2"}
        
  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.password
        %td= user.status
        %td= user.graduation_date
        %td= 'place_holder'
        %td= button_to 'Subscribe', edit_user_path(user), :method => :get
        %td= button_to 'Delete User', "/users/#{user.id}", :id => "del_#{user.email}", :method => :delete, data: { confirm: 'are you sure?' }
        

= link_to 'Create new user', new_user_path

%p
= link_to 'Return to groups', groups_path