%h1 All Users

%table#users
  %thead
    %tr
      %th First Name
      %th Middle Initial
      %th Last Name
      %th Email
      %th Password
      %th Status
      %th Graduation Date
      - @all_groups.each do |agroup|
        %th= agroup.title
        
  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.middle_initial
        %td= user.last_name
        %td= user.email
        %td= user.password
        %td= user.status
        %td= user.graduation_date
        - @all_groups.each do |agroup|
          %td= check_box_tag "#{agroup.title}_#{user.email}", :id => "#{agroup.title}_#{user.email}"

= link_to 'Save', users_path       

%p
= link_to 'Return to groups', groups_path