%h2 Computer Science Group Subscriptions for #{@user.first_name} #{@user.last_name}

%table#details
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th Status
      %th Graduation Date
      %th Groups
  %tbody
    %tr
      %td= @user.first_name
      %td= @user.last_name
      %td= @user.email
      %td= @user.status
      %td= @user.graduation_date
      - @user.group_ids.each do |group|
        %td= @groups.find(group).title
%br
= form_for(@user) do |f|
  //empty field because starting with a field for collection check boxes breaks it for some reason
  .field
  .field
    = f.label "Groups"
    = f.collection_check_boxes :group_ids, Group.all, :id, :title do |b|
      .collection-check-box
        = b.check_box
        = b.label
  .actions
    = f.submit
    
= link_to '(Admin link) Edit', edit_user_path(@user)
= link_to '(Admin link) All Users', users_path
