%h2 Login

%form
  .field
    = label :user, :email, "Email"
    = text_field :user, :email
  .field
    = label :user, :password
    = password_field :user, :password
  = link_to 'Submit', groups_path